---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import { Image } from 'astro:assets';
---

<Layout title="¡Bienvenido a Surprise Squad!">
  <main class="container">
    <header>
      <h1>¡Bienvenidos a Surprise Squad!</h1>
      <p>El lugar perfecto para organizar fiestas temáticas y juegos de grupo.</p>
    </header>

    <section class="game-selection">
      <h2>Selecciona un tipo de juego</h2>
      <div class="game-options">
        <a href="/amigo-invisible" class="game-option">
          <img src="/images/invisible-friend.png" alt="Amigo Invisible" />
          <h3>Amigo Invisible</h3>
        </a>
        <a href="/fiesta-tematica" class="game-option">
          <img src="/images/costumes-party.png" alt="Fiesta Temática" />
          <h3>Fiesta Temática</h3>
        </a>
        <a href="/fiesta-color" class="game-option">
          <img src="/images/thematic-party.png" alt="Fiesta de Color" />
          <h3>Fiesta de Color</h3>
        </a>
      </div>
    </section>
  </main>
</Layout>
