---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import GameOption from '../components/GameOption.astro';
import {games} from '../const';
---

<Layout title="¡Bienvenido a Surprise Squad!">
  <main class="wrapper" >
    <Header />
    <div class="container">
    <section class="game-selection">
      <h1>¡Bienvenidos a Surprise Squad!</h1>
      <p>
        El lugar perfecto para organizar fiestas temáticas y juegos de grupo.
      </p>
      <h3>Selecciona un tipo de fiesta o juego</h3>
      <div class="game-options">
        {games.map(game => (
          <GameOption game={game} key={game.id} /> <!-- Agregar key para mejorar rendimiento -->
        ))}
      </div>
    </section>
    <Footer/>
  </div>
  </main>
</Layout>
