---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "Surprise Squad es una plataforma para organizar juegos y eventos personalizados." } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Etiquetas SEO -->
    <meta name="description" content={description} />
    <meta property="og:title" content="Surprise Squad - Organiza tus Juegos y Eventos" />
    <meta property="og:description" content="Organiza juegos como el amigo invisible, fiestas temáticas y mucho más." />
    <meta property="og:image" content="/images/og-image.jpg" />
    <meta property="og:url" content="https://surprisesquad.com" />
    <meta name="twitter:card" content="summary_large_image" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
